<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="greenHouse">
      <h2 data-cy="greenHouseDetailsHeading"><span jhiTranslate="greenhouseApp.greenHouse.detail.title">Green House</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ greenHouse.id }}</span>
        </dd>
        <dt><span jhiTranslate="greenhouseApp.greenHouse.nameG">Name G</span></dt>
        <dd>
          <span>{{ greenHouse.nameG }}</span>
        </dd>
        <dt><span jhiTranslate="greenhouseApp.greenHouse.latitude">Latitude</span></dt>
        <dd>
          <span>{{ greenHouse.latitude }}</span>
        </dd>
        <dt><span jhiTranslate="greenhouseApp.greenHouse.longitude">Longitude</span></dt>
        <dd>
          <span>{{ greenHouse.longitude }}</span>
        </dd>
        <dt><span jhiTranslate="greenhouseApp.greenHouse.observateur">Observateur</span></dt>
        <dd>
          <div *ngIf="greenHouse.observateur">
            <a [routerLink]="['/profile', greenHouse.observateur?.id, 'view']">{{ greenHouse.observateur?.name }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/green-house', greenHouse.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
