<div>
  <h2 id="page-heading" data-cy="GreenHouseHeading">
    <span jhiTranslate="greenhouseApp.greenHouse.home.title">Green Houses</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="greenhouseApp.greenHouse.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-green-house"
        [routerLink]="['/green-house/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="greenhouseApp.greenHouse.home.createLabel"> Create a new Green House </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="greenHouses?.length === 0">
    <span jhiTranslate="greenhouseApp.greenHouse.home.notFound">No greenHouses found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="greenHouses && greenHouses.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nameG">
            <span jhiTranslate="greenhouseApp.greenHouse.nameG">Name G</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="latitude">
            <span jhiTranslate="greenhouseApp.greenHouse.latitude">Latitude</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="longitude">
            <span jhiTranslate="greenhouseApp.greenHouse.longitude">Longitude</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="observateur.name">
            <span jhiTranslate="greenhouseApp.greenHouse.observateur">Observateur</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let greenHouse of greenHouses; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/green-house', greenHouse.id, 'view']">{{ greenHouse.id }}</a>
          </td>
          <td>{{ greenHouse.nameG }}</td>
          <td>{{ greenHouse.latitude }}</td>
          <td>{{ greenHouse.longitude }}</td>
          <td>
            <div *ngIf="greenHouse.observateur">
              <a [routerLink]="['/profile', greenHouse.observateur?.id, 'view']">{{ greenHouse.observateur?.name }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/green-house', greenHouse.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/green-house', greenHouse.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(greenHouse)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="greenHouses && greenHouses.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
