<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="task">
      <h2 data-cy="taskDetailsHeading"><span jhiTranslate="greenhouseApp.task.detail.title">Task</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ task.id }}</span>
        </dd>
        <dt><span jhiTranslate="greenhouseApp.task.titleT">Title T</span></dt>
        <dd>
          <span>{{ task.titleT }}</span>
        </dd>
        <dt><span jhiTranslate="greenhouseApp.task.description">Description</span></dt>
        <dd>
          <span>{{ task.description }}</span>
        </dd>
        <dt><span jhiTranslate="greenhouseApp.task.startTime">Start Time</span></dt>
        <dd>
          <span>{{ task.startTime | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="greenhouseApp.task.endTime">End Time</span></dt>
        <dd>
          <span>{{ task.endTime | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="greenhouseApp.task.createdAt">Created At</span></dt>
        <dd>
          <span>{{ task.createdAt | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="greenhouseApp.task.responsible">Responsible</span></dt>
        <dd>
          <div *ngIf="task.responsible">
            <a [routerLink]="['/profile', task.responsible?.id, 'view']">{{ task.responsible?.name }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="greenhouseApp.task.rapport">Rapport</span></dt>
        <dd>
          <div *ngIf="task.rapport">
            <a [routerLink]="['/report', task.rapport?.id, 'view']">{{ task.rapport?.titleR }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/task', task.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
